<h3 class="heading">{{catagory}} Articles</h3>
<div ng-controller="ArticlesCatagoryCtrl">
	<a href="#/catagories">Go Back</a>
	<div class="row">
		<div class="articles">
			<div ng-repeat="article in cat_articles">
				<div class="col-md-12">
					<div class="article">
					<h4>{{article.title}}</h4>
                    <p>{{article.body | limitTo:200}}</p>
                    <a class="btn btn-default" href="#/articles/details/{{article._id}}">Read Article</a>
				    </div>
				</div>
			</div>
			<div ng-if="articles==false">
              No Article found
			</div>
		</div>
	</div>

</div>